*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    text-align:center;
}
h1{
    background-color: rgba(41, 15, 105, 0.726);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.image{
    /* filter: saturate(90%); */
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictures{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:5rem;
}
.score__board{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:4rem;
    font-size: 2rem;
}
.message__container{
    margin-top: 5rem;
}
#message{
    background-color: rgba(41, 15, 105, 0.726);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#user__score,#computer__score{
    font-size: 4rem;
}
.image:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: rgba(41, 15, 105, 0.726);
}